body { 
    font-family: Arial, sans-serif;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-color: rgb(237, 196, 62);
    padding-top: 80px;
    
}

.bel {
    text-align: center;
    font-size: 300%;
    margin-bottom: 0;
    margin-top: 3%;
}

.category {
    display: flex;
    justify-content: center; /* Центриране на контейнерите по хоризонтала */
    background-color: white;
    padding: 2%;
    margin-top: 3%;
    flex-wrap: wrap; /* Позволява на елементите да се преместват на нов ред, ако е необходимо */
}

.conteiner{
    display: flex;
    flex-direction: column;
    align-items: center; /* Центриране на съдържанието вътре в контейнера */
    width: 15%;
    background-color: #e2e2e2;
    padding: 3%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: rgb(237, 196, 62);
}


.text{
    text-align: center;
}


.snimka, .snimka2, .snimka3, .snimka4 {
    width: 90%;
    height: auto; /* Запазва пропорциите на изображенията */
    margin: 0 auto; /* Центрира изображенията хоризонтално */
    margin-left: 5%;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(237, 196, 62);
    border-top: 7px solid rgb(234, 183, 15);
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
}

#navi {
    flex-direction: column;
    width: 20%;
 
}

#info {
    flex-direction: column;
    margin-left: 9%;
    margin-right: 0.5%;
    text-align:center;
}

#info2
{
    display: flex;
    flex-direction: row;
    color: rgb(26, 20, 20);
    text-align: center;
    margin-left: 29%;
}

#info3{
    flex-direction: column;
    margin-left: 12%;
    text-align:center;
}

#footer_button {
    color: rgb(0, 0, 0);
    text-decoration: none;
    cursor: pointer;
}

#footer_button:hover {
    color: #343131;
    text-decoration: underline;
}


.footerlink {
    color: inherit;
    text-decoration: none;
}

.footerlink:hover {
    text-decoration: underline;
}


