body { 
    font-family: Arial, sans-serif;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-color: rgb(237, 196, 62)
}

.bel {
    text-align: center;
    font-size: 300%;
    margin-bottom: 0;
    margin-top: 10%;
}

.category {
    display: flex;
    justify-content: center; /* Центриране на контейнерите по хоризонтала */
    background-color: white;
    padding: 2%;
    margin-top: 3%;
    flex-wrap: wrap; /* Позволява на елементите да се преместват на нов ред, ако е необходимо */
}

.conteiner, .conteiner2, .conteiner3, .conteiner4 {
    display: flex;
    flex-direction: column;
    align-items: center; /* Центриране на съдържанието вътре в контейнера */
    width: 15%;
    background-color: #e2e2e2;
    padding: 3%;
    margin: 1%;
}


.text{
    text-align: center;
    width: 80%;
    margin-top: 8%;
}

.text1{
    text-align: center;
    width: 100%;
    margin-top: 12.5%;
}


.text2{
    text-align: center;
    width: 100%;
    margin-top: 20%;
}


.text3{
    text-align: center;
    width: 100%;
    margin-top: 8.5%;
}


#avtor {
    margin-bottom: 15%;
}

.snimka, .snimka2, .snimka3, .snimka4 {
    width: 90%;
    height: auto; /* Запазва пропорциите на изображенията */
    margin: 0 auto; /* Центрира изображенията хоризонтално */
}

/* Специфични размери на снимките */
.snimka {
    margin-right: 5%;
    height: 102%;
    width: 100%;
}

.snimka2 {
    height: 104.5%;
    width: 100%;
}

.snimka3 {
    height: 109.5%;
    width: 100%;
}

.snimka4 {
    height: 102%;
    width: 100%;
}